<web-app>
<servlet>
<servlet-name>workhard</servlet-name>
<servlet-class>config</servlet-class>

<init-param>
<param-name>image</param-name>
<param-value>Image001.jpg</param-value>
</init-param>

<init-param>
<param-name>driver</param-name>
<param-value>sun.jdbc.JdbcOdbcDriver</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>workhard</servlet-name>
<url-pattern>/partyharder</url-pattern>
</servlet-mapping>
</web-app>