<web-app>
<servlet>
<servlet-name>rhodes</servlet-name>
<servlet-class>attribute</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>rhodes</servlet-name>
<url-pattern>/rhodes</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>jonty</servlet-name>
<servlet-class>attribute2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>jonty</servlet-name>
<url-pattern>/jonty</url-pattern>
</servlet-mapping>



</web-app>