<web-app>
<servlet>
<servlet-name>ankush</servlet-name>
<servlet-class>context</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ankush</servlet-name>
<url-pattern>ankush</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>sonu</servlet-name>
<servlet-class>context2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sonu</servlet-name>
<url-pattern>sonu</url-pattern>
</servlet-mapping>


</web-app>