<web-app>
<servlet>
<servlet-name>sanjay</servlet-name>
<servlet-class>reqdispatcher</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sanjay</servlet-name>
<url-pattern>sanjay</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>tinu</servlet-name>
<servlet-class>music</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>tinu</servlet-name>
<url-pattern>tinu</url-pattern>
</servlet-mapping>

</web-app>